.logo{
    width: 33%;
    position: relative;
    margin: 2em;
}
.nav{
    color: rgb(255, 255, 255);
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 145% ;
    margin-left: 1%;
    margin-right: 1%;
    text-decoration-line: none;
}
.navbox{
    background-color: rgb(219, 111, 132);
    margin-top: -1.5em;
    

}
.bodydiv{
    background-image: url(bodycopybg.svg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    display: block;
    width: 64%;
    height: 50%;
    margin-top: 85px;
   
}
.bodytext{
    font-family:'Poppins', sans-serif;
    font-weight: 100;
    width: 50%;
    margin-left: 30%;
    margin-right: 7%;
    display: block;
    text-indent: 50px;
    font-size: 130%;
    position: relative;

}
.subtitles{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 160%;
    margin-left: 17%;
    margin-top: 4%;
    
}
.headerpng{
    width: 100%;
}
@media screen and (max-width:1222px) {
    .logo{
        width: 50%;
    }
}