@font-face {
    font-family: Poppins;
  }
.logo{
    height: 15%;
    width: auto;

}
.nav{
    color: rgb(255, 255, 255);
}
.navbox{
    height: 60%;
    background-color: rgb(219, 111, 132);
    display: block;
    border: 20px white solid;
    margin-right: 10%;
}
